@charset "utf-8";

/* ---------------------------------------------------------------------------------| 共用設定 options | */

/* Facebook 分享按鈕 */
/* 網站預設line-height影響其高度而修正 */
.FBConnectButton_Text{ line-height:10px; font-size:11px; }

/* 版面樣式 滿版單欄 */
.template_md{ padding:18px; border:1px solid #ccc; margin-bottom:20px; }

/* 版面樣式 左右欄 */
.template_lt{ float:left; width:640px; }
.template_rt{ float:right; width:300px; }

/* 區塊樣式 */
.template_box{ width:602px; padding:18px; border:1px solid #ccc; margin-bottom:20px; }

/* 區塊標題 單行 */
.template_tit{ color:#000; font-weight:bold; }
.template_tit .stit{ padding-left:8px; color:#a0a0a0; font-size:11px; font-weight:bold; }


/* 推薦連結 滿版水平式 */
.template_advertise_h{ }
.template_advertise_h span{ display:inline-block; width:314px; }
.template_advertise_h .items{ margin-right:16px; }


/* 推薦連結 右欄垂直式 */
.template_advertise_v{ }
.template_advertise_v .items{ width:300px; }


/* 色票圖檔下載 右欄 */
.template_rt_imagesize{ padding:10px 10px 7px; background:#eaeaea; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; color:#999; }
.template_rt_imagesize .item{ display:inline-block; padding:1px 5px; }
.template_rt_imagesize .item a{ color:#666; font-weight:bold; font-size:11px; }


/* 分類標籤 右欄 */
.template_rt_tags{ padding:15px 10px 7px; background:#eaeaea; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; }
.template_rt_tags .item{ display:inline-block; height:21px; padding:1px 10px 0px; margin:0px 1px 5px; background:url(../../images/tag_item_bg.gif) repeat-x left top; }
.template_rt_tags .item a{ color:#a0a0a0; font-size:11px; *font-size:10px; _font-size:10px; }
.template_rt_tags .item a:hover{ color:#fff; text-decoration:none; }
.template_rt_tags .item a.ov{ color:#fff; }

/* RSS 右欄 */
.template_rt_rss{ padding:13px 10px 15px; background:#eaeaea; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; }
.template_rt_rss .item{ display:inline-block; height:30px; }
.template_rt_rss .item a{ color:#535353; font-weight:bold; position:relative; top:3px; }
.template_rt_rss .item a:hover{ text-decoration:none; }

/* Archive 右欄 */
.template_rt_archive{ padding:13px 10px 8px; background:#eaeaea; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; }
.template_rt_archive .archive_layer_1{}
.template_rt_archive .archive_layer_1 li{ padding-left:12px; background:url(../../images/icon_dash.gif) no-repeat left 10px; margin-bottom:5px; }
.template_rt_archive .archive_layer_2{ margin-left:12px; }
.template_rt_archive .archive_layer_2 li{ padding-left:12px; background:url(../../images/icon_squre.gif) no-repeat left 10px; margin-bottom:5px; }
.template_rt_archive .archive_date{}
.template_rt_archive .archive_tit{}

/* 新進會員 右欄 */
.template_rt_members_latest{ }
.template_rt_members_latest .item{ display:inline-block; float:left; padding:2px; margin:0px 4px 5px 0px; _margin:0px 3px 5px 0px; border:1px solid #cccccc; }

/* 我的典藏 右欄 */
.template_rt_mycollection .item{ display:inline-block; float:left; margin:0px 10px 8px 0px; width:142px; height:100px; overflow:hidden; border:1px solid #cccccc; }
.template_rt_mycollection .final{ margin:0px 0px 8px 0px; }

/* 我的配色 右欄 */
.template_rt_myexperience .item{ display:inline-block; float:left; margin:0px 10px 8px 0px; width:142px; height:100px; overflow:hidden; border:1px solid #cccccc; }
.template_rt_myexperience .final{ margin:0px 0px 8px 0px; }

/* 右欄 顯示全部 框架 */
.template_rt_showalllayer{ width:537px; text-align:center; background:#ffffff; border:1px solid #ccc; z-index:100; position:absolute; left:0; top:0; }
.template_rt_showalllayer iframe{ text-align:center; padding:10px; }

/* 右欄 顯示全部 開啟*/ 
.template_rt_showall{ text-align:right; padding-bottom:2px; }
.template_rt_showall a{ font-size:11px; color:#999; }

/* 右欄 顯示全部 關閉*/ 
.template_rt_closeall{ width:100%; background:#eaeaea; text-align:right; padding:3px 0px; border-top:1px solid #ccc; }
.template_rt_closeall a{ font-size:11px; font-weight:bold; color:#333; position:relative; right:10px; }

/* 頁次 */
.template_pagers{ padding:0px 0px 30px; }
.template_pagers a.ou{ padding:2px 4px; margin:0px 1px; font-size:11px; border:1px solid #ccc; text-decoration:none; }
.template_pagers a.ov{ padding:2px 4px; margin:0px 1px; font-size:11px; border:1px solid #000; text-decoration:none; background:#000; color:#fff; }
.template_pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
.template_pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
.template_pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
.template_pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }



/* ---------------------------------------------------------------------------------| 首頁 index | */
/* ---------------------------------------------------------------------------------| 首頁 index | */

#contain_0{}

/* index 主圖 */
#contain_0 .paragraph_1{ margin-bottom:55px; max-height:486px; text-align:center; }
#contain_0 .paragraph_1 #bannerNav{ padding-top:3px; }
#contain_0 .paragraph_1 #bannerNav a{ margin:0px 1px; padding:0px 6px; background:url(../../images/banner_ou.gif) no-repeat left top; }
#contain_0 .paragraph_1 #bannerNav a.hover{ text-decoration:none; }
#contain_0 .paragraph_1 #bannerNav a.activeSlide { background:url(../../images/banner_ov.gif) no-repeat left top; }

/* index 最新文章 圖片式 */
#contain_0 .paragraph_2{ margin-bottom:40px; }
#contain_0 .paragraph_2 .gallery_h{ display:inline-block; float:left; width:230px; height:200px; margin-right:19px; }
#contain_0 .paragraph_2 .gallery_h label{ display:inline-block; }

/* index 熱門色票 */
#contain_0 .paragraph_3{ }
#contain_0 .paragraph_3 .gallery{ }
#contain_0 .paragraph_3 .gallery .gallery_h{ cursor:pointer; float:left; width:182px; margin-right:16px; _margin-right:15px; }
#contain_0 .paragraph_3 .gallery .gallery_h .palette{ float:inherit; border:1px solid #eaeaea; }
#contain_0 .paragraph_3 .gallery .gallery_h .palette span{ display:inline-block; float:left; width:36px; height:50px; }
#contain_0 .paragraph_3 .gallery .gallery_h .palette_tit{ }
#contain_0 .paragraph_3 .gallery .gallery_h .palette_tit div{ font-weight:bold; }
#contain_0 .paragraph_3 .gallery .gallery_h .palette_tit label{ font-size:11px; color:#666; line-height:0.8em; }
	
/* index 最新色票 最後色票取消margin */
#contain_0 .paragraph_3 .gallery .gallery_h_final{ cursor:pointer; float:left; width:182px; height:110px; }
#contain_0 .paragraph_3 .gallery .gallery_h_final .palette{ border:1px solid #eaeaea; }
#contain_0 .paragraph_3 .gallery .gallery_h_final .palette span{ display:inline-block; float:left; width:36px; height:50px; }
#contain_0 .paragraph_3 .gallery .gallery_h_final .palette_tit div{ font-weight:bold; }
#contain_0 .paragraph_3 .gallery .gallery_h_final .palette_tit label{ font-size:11px; color:#666; line-height:.8em; }

/* index 粉絲團 */
#contain_0 .paragraph_4{ margin-bottom:55px; }
#contain_0 .paragraph_4 .template_md{ border:none; padding:0; }

/* ---------------------------------------------------------------------------------| 色彩社群 community | */
/* ---------------------------------------------------------------------------------| 色彩社群 community | */

/* template_lt 調色盤 */
/* http://www.w3schools.com/tags/ref_colorpicker.asp */
#contain_1 .template_lt .colorpicker{ padding:10px 10px 20px; margin-bottom:20px; background-color:#eaeaea; }
#contain_1 .template_lt .colorpicker .divpreviewbox{ position:relative; }
#contain_1 .template_lt .colorpicker .divpreview{ float:left; height:112px; width:112px; border:1px solid #eaeaea; background-color:#ffffff; }
#contain_1 .template_lt .colorpicker #divpreview0{ background-color:#ff0000; }/* 預設 */

#contain_1 .template_lt .colorpicker .selectedBox{ position:absolute; z-index:100; left:0px; top:0px; width:114px; height:114px; background:url(../../images/selectedbox.gif) no-repeat; }
#contain_1 .template_lt .colorpicker .selectedColor{ position:relative; left:135px; top:185px; width:21px; height:21px; background:url(../../images/selectedcolor.gif) no-repeat; }
#contain_1 .template_lt .colorpicker .colormap{ margin-right:2px; }

#contain_1 .template_lt .colorpicker .colorsvalue{ padding-top:28px; }
#contain_1 .template_lt .colorpicker .colorsvalue td{ height:40px; }
#contain_1 .template_lt .colorpicker .colorsvalue #picker{ width:75px; padding:2px 0px; font:11px arial; }

#contain_1 .template_lt .colorpicker .colorshades{ padding-top:10px; }
#contain_1 .template_lt .colorpicker .colorshades th{ text-align:center; font-size:11px; color:#666; }
#contain_1 .template_lt .colorpicker .colorshades td{ padding:0; height:20px; }
#contain_1 .template_lt .colorpicker .colorshades div{ width:90px; height:20px; margin:0 auto; }
#contain_1 .template_lt .colorpicker .colorshades .selected{ position:absolute; }
#contain_1 .template_lt .colorpicker .colorshades .selected img{ position:absolute; left:-2px; top:-1px; z-index:100; }

#contain_1 .template_lt .descriptions{ padding:10px 10px 30px; }
#contain_1 .template_lt .descriptions td{ padding-bottom:15px; }
#contain_1 .template_lt .descriptions .textarea{ width:400px; padding:3px 5px; }

/* template_lt 個人資訊 */
#contain_1 .template_lt .personalbox .onloggined{ padding-top:5px; }
#contain_1 .template_lt .personalbox .unloggined{ padding:15px; background-color:#eaeaea; }/*未登入訊息*/

#contain_1 .template_lt .personalbox .pb_lt{ width:250px; }
#contain_1 .template_lt .personalbox .pb_lt img{ margin-right:8px; padding:2px; border:1px solid #ccc; }

#contain_1 .template_lt .personalbox .pb_rt{ width:340px; }
#contain_1 .template_lt .personalbox .pb_rt_l{ width:220px; font-size:11px; padding-top:3px; }
#contain_1 .template_lt .personalbox .pb_rt_l .pb_good_count{ padding-left:85px; background:url(../../images/vote_total.gif) no-repeat left top; margin-bottom:10px; font-size:11px; }
#contain_1 .template_lt .personalbox .pb_rt_l .pb_follow_count{ padding-left: 75px; background:url(../../images/icon_follow.gif) no-repeat left 2px; font-size:11px; }

#contain_1 .template_lt .personalbox .pb_rt_r{ width:120px; }
#contain_1 .template_lt .personalbox .pb_rt_r .pb_good_btn{ margin-bottom:5px; }
#contain_1 .template_lt .personalbox .pb_rt_r .pb_follow_btn{ }

/* template_lt 色票列表分類按鈕 */
#contain_1 .template_lt .palette_selecter{ padding:15px 0px 10px; }
#contain_1 .template_lt .palette_selecter a:hover{ text-decoration:none; }
#contain_1 .template_lt .palette_selecter .palette_select_ou{ 
													display:inline-block;
													height:37px;
													margin-right:8px;
													background:url(../../images/icon_s_arrow_ou.gif) no-repeat left top;
													}
#contain_1 .template_lt .palette_selecter .palette_select_ou label{ 
													display:inline-block;
													border-top:1px solid #dedede;
													border-right:1px solid #dedede;
													padding:3px 10px 5px;
													}
#contain_1 .template_lt .palette_selecter .palette_select_ov{
													display:inline-block;
													height:37px;
													margin-right:8px;
													background:url(../../images/icon_s_arrow_ov.gif) no-repeat left top;
													}
#contain_1 .template_lt .palette_selecter .palette_select_ov label{
													display:inline-block;
													font-weight:bold;
													background-color:#dedede;
													border-top:1px solid #dedede;
													border-right:1px solid #dedede;
													padding:3px 10px 5px;
													}

/* template_lt 色票列表 */
#contain_1 .template_lt .palettebox{ padding-bottom:5px; }
#contain_1 .template_lt .palettebox .pb_colorarr{ cursor:pointer; border:1px solid #eaeaea; margin-bottom:2px; }
#contain_1 .template_lt .palettebox .pb_colorarr span{ display:inline-block; float:left; width:120px; height:50px; }
#contain_1 .template_lt .palettebox .pb_info span{ display:inline-block; }
#contain_1 .template_lt .palettebox .pb_info_name{ font-weight:bold; }
#contain_1 .template_lt .palettebox .pb_info_user{ font-size:11px; color:#666; padding-left:10px; }
#contain_1 .template_lt .palettebox .pb_info_good{ 
												   float:right;
												   display:inline-block;
												   height:20px;
												   text-align:left;
												   padding-left:45px;
												   margin-right:38px;
												   background:url(../../images/vote_btn.gif) no-repeat left center;
												   cursor:pointer;
												   position:relative;
												   top:2px;
												   }/*未讚賞過此色票 按鈕左標題*/
#contain_1 .template_lt .palettebox .pb_info_good label{
												   display:inline-block;
												   height:20px;
												   font-size:11px;
												   color:#666;
												   text-align:left;
												   padding-right:10px;
												   background:url(../../images/vote_btn.gif) no-repeat right center;
												   cursor:pointer;
												   }/*未讚賞過此色票 按鈕右票數*/
#contain_1 .template_lt .palettebox .pb_info_gooded{ 
												   float:right;
												   display:inline-block;
												   height:20px;
												   font-size:11px;
												   text-align:left;
												   padding-left:40px;
												   margin-right:50px;
												   background:url(../../images/vote_score.gif) no-repeat left center;
												   position:relative;
												   top:2px;
												   }/*已讚賞過此色票*/

/* template_lt 色票說明 */
#contain_1 .template_lt .personalbox .pb_colorbox{ margin-bottom:10px; }
#contain_1 .template_lt .personalbox .pb_colorbox span.pb_colorbox_name{ display:inline-block; width:400px; font-size:15px; font-weight:bold; }
#contain_1 .template_lt .personalbox .pb_colorbox span.pb_colorbox_name label{ font-size:11px; padding-left:10px; }
#contain_1 .template_lt .personalbox .pb_colorarr{ margin-bottom:15px; border:1px solid #eaeaea; }
#contain_1 .template_lt .personalbox .pb_colorarr span{ display:inline-block; float:left; width:120px; height:120px; }
#contain_1 .template_lt .personalbox .pb_colorbox .pb_colorbox_share{ display:inline-block; float:right; position:relative; left:10px; top:2px; }
#contain_1 .template_lt .personalbox .pb_colorbox .pb_colorbox_txt{ background-color:#eaeaea; }
#contain_1 .template_lt .personalbox .pb_colorbox .pb_colorbox_txt td{ padding:15px; }

/* template_lt 色群 */
#contain_1 .template_lt .palettebox{ margin-bottom:15px; }
#contain_1 .template_lt .palettebox .color_box{ height:50px; border:1px solid #eaeaea; }
#contain_1 .template_lt .palettebox .color_info span{ display:inline-block; font-weight:bold; font-size:11px; }
#contain_1 .template_lt .palettebox .color_info label{ display:inline-block; font-weight:bold; font-size:11px; padding-right:10px; }
#contain_1 .template_lt .palettebox .color_info_hex{ width:100px; }
#contain_1 .template_lt .palettebox .color_info_rgb{ width:120px; }
#contain_1 .template_lt .palettebox .color_info_lab{ width:120px; }
#contain_1 .template_lt .palettebox .color_info_cmyk{ width:120px; }

/* 已配色圖片內容 色票 */
#contain_1 .template_lt .experiencebox{ margin-bottom:10px; }
#contain_1 .template_lt .experiencebox .experience_pic{ margin-bottom:15px; }
#contain_1 .template_lt .experiencebox .experience_palette{ margin-bottom:15px; }
#contain_1 .template_lt .experiencebox .experience_palette span{ display:inline-block; float:left; width:120px; height:50px; }
#contain_1 .template_lt .experiencebox .experience_txt{ padding:15px; background-color:#eaeaea; }
#contain_1 .template_lt .experiencebox .experience_txt .tit{ font-size:15px; font-weight:bold; padding-bottom:8px; }
#contain_1 .template_lt .experiencebox .experience_txt .txt{}

/* ---------------------------------------------------------------------------------| 配色練習 Experience | */
/* ---------------------------------------------------------------------------------| 配色練習 Experience | */

#contain_2 .template_md .experience_picture{}
#contain_2 .template_md .experience_picture .ex_picture_lt{ float:left; width:640px; }
#contain_2 .template_md .experience_picture .ex_picture_lt .dest_pic{ width:640px; height:450px; position:relative; overflow:hidden; }
#contain_2 .template_md .experience_picture .ex_picture_lt .dest_pic div{ position:absolute; width:640px; height:450px; overflow:hidden; }/* 元件顯示區塊 */
#contain_2 .template_md .experience_picture .ex_picture_lt .dest_pic #onloading{ display:none; background:#fff; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }
#contain_2 .template_md .experience_picture .ex_picture_lt .dest_pic #onloading img{ position:relative; top:190px; }

#contain_2 .template_md .experience_picture .ex_picture_rt{ float:right; width:280px; }
#contain_2 .template_md .experience_picture .ex_picture_rt .src_pic_unset{ height:350px; }/* 未帶入參數 底部雙按鍵 */
#contain_2 .template_md .experience_picture .ex_picture_rt .src_pic{ height:400px; }/* 已帶入參數 底部單按鍵 */
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_img{ max-height:220px; overflow:hidden; }
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_color{ margin:9px 0px; }
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_color span{ display:inline-block; float:left; width:54px; height:48px; cursor:pointer; }
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_info{}
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_user{ height:190px; padding:15px; background-color:#eaeaea; }
#contain_2 .template_md .experience_picture .ex_picture_rt .pic_user img{ margin-right:8px; }
#contain_2 .template_md .experience_picture .ex_picture_rt .src_btn{ margin-top:8px; }

/* 圖片分類 */
#contain_2 .template_md .experience_gallery{ width:940px; }
#contain_2 .template_md .experience_gallery td{ padding:0; }
#contain_2 .template_md .experience_gallery .gallery_btn{ cursor:pointer; }
#contain_2 .template_md .experience_gallery .gallery_item{ width:840px; height:162px; overflow:hidden; text-align:center; }/*980-md.padding40-btn100=842*/
#contain_2 .template_md .experience_gallery .gallery_item span{ display:block; float:left; border:1px solid #ccc; margin-right:6px; cursor:pointer; }
#contain_2 .template_md .experience_gallery .gallery_item span.final{ margin:0; }

/* ---------------------------------------------------------------------------------| 典藏圖庫 collection | */
/* ---------------------------------------------------------------------------------| 典藏圖庫 collection | */

/* template_md 搜尋功能 */
#contain_3 .template_md .search_tools{ padding:15px; background-color:#eaeaea; }

#contain_3 .template_md .search_tools .tools_lt{ float:left; width:740px; }
#contain_3 .template_md .search_tools .tools_lt .search_keyword{ width:180px; }
#contain_3 .template_md .search_tools .tools_lt .search_keyword #keyword{ padding:3px 2px; }
#contain_3 .template_md .search_tools .tools_lt .search_keyword .search_keyword_items{ padding-bottom:40px; }
#contain_3 .template_md .search_tools .tools_lt .search_tags{ vertical-align:top; padding:0; }
#contain_3 .template_md .search_tools .tools_lt .search_tags td{ vertical-align:top; line-height:2em; }

#contain_3 .template_md .search_tools .tools_rt{ float:right; width:160px; }
#contain_3 .template_md .search_tools .tools_rt .search_palette{}
#contain_3 .template_md .search_tools .tools_rt .search_palette #searchsqure{ position:absolute; width:13px; height:13px; background:url(../../images/selectedcolor_squre.gif) no-repeat left top; z-index:100; left:-1000px; top:-1000px; }/*選取方塊*/
#contain_3 .template_md .search_tools .tools_rt .search_palette #colorPreview{ width:154px; height:128px; border:1px solid #fff; text-align:right; }/*預覽窗格*/
#contain_3 .template_md .search_tools .tools_rt .search_palette .colorPreviewVal{ width:140px; font-size:11px; }/*預覽窗格*/

.search_result{ position:relative; }
.search_result .result_pictures{ padding:10px 0px 0px 1px; position:relative; }
.search_result .result_pictures span{ display:block; float:left; overflow:hidden; width:140px; height:140px; padding:19px; border:1px solid #ccc; margin:0px 19px 20px 0px; }
.search_result .result_pictures span a{ display:block; width:140px; height:140px; overflow:hidden; text-align:center; }
.search_result .result_pictures span.final{ margin:0; }
.search_result .result_pictures #appendCollect{ display:none; background-color:#fff; padding:19px; border:1px solid #666; position:absolute; z-index:100; }/* 滑入時延展圖框 */
.search_result .result_pictures #appendCollect img{ cursor:pointer; }/* 滑入時延展圖片 */

.search_result .result_pager .pager_lt{ float:left; }
.search_result .result_pager .pager_lt .page_now{ font-size:11px; padding-right:15px; }
.search_result .result_pager .pager_lt .page_ou{ 
	display:inline-block;  
	width:23px;  
	color:#333; 
	font:10px arial; 
	text-align:center;
	padding:11px 0px 11px 0px;
	background:url(../../images/page_ou.gif) no-repeat left top;
	cursor:pointer;
	}
.search_result .result_pager .pager_lt .page_ov{ 
	display:inline-block;  
	width:23px;  
	color:#fff; 
	font:10px arial; 
	text-align:center;
	padding:11px 0px 11px 0px;
	background:url(../../images/page_ov.gif) no-repeat left top; 
	cursor:pointer;
	}
.search_result .result_pager .pager_rt{ float:right; position:relative; top:6px; }
.search_result .result_pager .pager_rt .page_prev{ display:inline-block; padding:3px 0px; font:11px Tahoma; border:1px solid #333; width:25px; text-align:center; cursor:pointer; }
.search_result .result_pager .pager_rt .page_jump{ display:inline-block; font-size:11px; padding:0px 5px; }
.search_result .result_pager .pager_rt .page_jump input{ width:30px; text-align:center; padding:2px; }
.search_result .result_pager .pager_rt .page_next{ display:inline-block; padding:3px 0px; font:11px Tahoma; border:1px solid #333; width:25px; text-align:center; cursor:pointer; }

/* 搜尋遮罩 */
#contain_3 .search_result .searchCover{ display:none; position:absolute; z-index:1000; background:#fff; width:100%; height:100%; top:0; left:0; opacity:0.6; -moz-opacity:0.6; filter:alpha(opacity=60); }
#contain_3 .search_result .searchCover img{ position:absolute; }

/* template_lt 說明,色群 */
#contain_3 .template_lt .collectionbox{ margin-bottom:10px; }
#contain_3 .template_lt .collectionbox .collect_pic{ margin-bottom:15px; max-width:600px; overflow:hidden; }
#contain_3 .template_lt .collectionbox .collect_txt{ padding:15px; background-color:#eaeaea; }
#contain_3 .template_lt .collectionbox .collect_txt .tit{ font-size:15px; font-weight:bold; padding-bottom:8px; }
#contain_3 .template_lt .collectionbox .collect_txt .txt{}

/* template_lt 色群 */
#contain_3 .template_lt .palettebox{ margin-bottom:15px; }
#contain_3 .template_lt .palettebox .color_box{ height:50px; }
#contain_3 .template_lt .palettebox .color_info span{ display:inline-block; font-weight:bold; font-size:11px; }
#contain_3 .template_lt .palettebox .color_info label{ display:inline-block; font-weight:bold; font-size:11px; padding-right:10px; }
#contain_3 .template_lt .palettebox .color_info_hex{ width:110px; }
#contain_3 .template_lt .palettebox .color_info_rgb{ width:120px; }
#contain_3 .template_lt .palettebox .color_info_lab{ width:120px; }
#contain_3 .template_lt .palettebox .color_info_ymck{ width:120px; }

/* 2011.05.23 移至 template_rt 區塊 */
/*
#contain_3 .template_lt .collectionbox .collect_palette{ margin-bottom:15px; }
#contain_3 .template_lt .collectionbox .collect_palette span{ display:inline-block; float:left; height:50px; }
*/

/* template_rt 色票 */
#contain_3 .template_rt .collectionbox .collect_colorbox span{
	display:inline-block;
	float:left; 
	height:54px;
	width:54px;
	padding:3px; 
	background:url(../../images/colorbox_bg.gif) no-repeat left top; 
	cursor:pointer;
	}
#contain_3 .template_rt .collectionbox .collect_colorbox span em{ 
	display:inline-block;
	width:54px;
	height:54px;
	}

/* template_rt 體驗配色 */
#contain_3 .template_rt .collectionbox .collect_palette{ position:relative; _background:url(../../images/colormix_bg.jpg) no-repeat left top; _height:60px; }
#contain_3 .template_rt .collectionbox .collect_palette span{ 
	display:inline-block; 
	float:left; 
	height:60px; 
	background-color:#eaeaea;
	_background-color:transparent;
	cursor:pointer; 
	}

#contain_3 .template_rt .collectionbox .collect_palette .ctMyDrager{ 
	display:inline-block; 
	height:90px; 
	width:21px; 
	background:url(../../images/drager.gif) no-repeat center top; 
	cursor:e-resize;
	position:absolute;
	}
#contain_3 .template_rt .collectionbox .collect_palette #ctMyDrager0{ left:49px; z-index:10; }/* 60-(10+1) */
#contain_3 .template_rt .collectionbox .collect_palette #ctMyDrager1{ left:109px; z-index:20; }/* 120-(10+1),49+60 */
#contain_3 .template_rt .collectionbox .collect_palette #ctMyDrager2{ left:169px; z-index:30; }/* 180-(10+1),109+60 */
#contain_3 .template_rt .collectionbox .collect_palette #ctMyDrager3{ left:229px; z-index:40; }/* 240-(10+1),169+60 */


/* ---------------------------------------------------------------------------------| 色彩專欄 column | */
/* ---------------------------------------------------------------------------------| 色彩專欄 column | */

/* template_lt 主題列表 */
#contain_4 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_4 .template_lt .template_box .date{ font-size:10px; }
#contain_4 .template_lt .template_box .img{ padding:10px 0px; }
#contain_4 .template_lt .template_box .txt{ }

#contain_4 .template_lt .template_box .bar{ padding-top:15px; }
#contain_4 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_4 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_4 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_4 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_4 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_4 .template_lt .pager a:hover{ text-decoration:none; }
#contain_4 .template_lt .pager a.ou{ background:#fff; }
#contain_4 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_4 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_4 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_4 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_4 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_4 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_4 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_4 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_4 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 底部學學連結 */
#contain_4 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_4 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_4 .template_lt .template_box .bar{ padding-top:20px; }
#contain_4 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_4 .template_lt .template_box .tag{ padding-top:10px; }
#contain_4 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_4 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_4 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_4 .template_lt .pagers{ padding-bottom:20px; }
#contain_4 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_4 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_4 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_4 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }



/* ---------------------------------------------------------------------------------| 色彩活動 events(coloritems) | */
/* ---------------------------------------------------------------------------------| 色彩活動 events(coloritems) | */

/* template_lt 主題列表 */
#contain_5 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_5 .template_lt .template_box .date{ font-size:10px; }
#contain_5 .template_lt .template_box .img{ padding:10px 0px; }
#contain_5 .template_lt .template_box .txt{ }

#contain_5 .template_lt .template_box .bar{ padding-top:15px; }
#contain_5 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_5 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_5 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_5 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_5 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_5 .template_lt .pager a:hover{ text-decoration:none; }
#contain_5 .template_lt .pager a.ou{ background:#fff; }
#contain_5 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_5 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_5 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_5 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_5 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_5 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_5 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_5 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_5 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 色彩投票(未投票) */
#contain_5 .template_lt .template_box .paragraph .colorvote{ padding:5px 0px; }
#contain_5 .template_lt .template_box .paragraph .colorvote td{ height:70px; }
#contain_5 .template_lt .template_box .paragraph .colorvote .item{ font-size:11px; padding-right:5px; }
#contain_5 .template_lt .template_box .paragraph .colorvote .count{ font-size:11px; padding-top:5px; padding-bottom:15px; }
#contain_5 .template_lt .template_box .paragraph .colorvote span{ 
	display:inline-block;
	padding:7px 0px 0px 7px;
	width:50px; 
	height:50px; 
	background:url(../../images/dot_bg.jpg) no-repeat left top;
	/*background:url(../../images/dot_bg_squre.jpg) no-repeat left top;*//* IE */
	}
#contain_5 .template_lt .template_box .paragraph .colorvote label{
	display:inline-block; 
	width:41px; 
	height:41px; 
	/*border:1px solid #fff; */
	border-radius: 50px;
	-webkit-border-radius: 50px; 
	-moz-border-radius: 50px;
	cursor:pointer;
	}


/* template_lt 底部學學連結 */
#contain_5 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_5 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_5 .template_lt .template_box .bar{ padding-top:20px; }
#contain_5 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_5 .template_lt .template_box .tag{ padding-top:10px; }
#contain_5 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_5 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_5 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_5 .template_lt .pagers{ padding-bottom:20px; }
#contain_5 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_5 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_5 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_5 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }



/* ---------------------------------------------------------------------------------| 關於學學 about xuexue colors | */
/* ---------------------------------------------------------------------------------| 關於學學 about xuexue colors | */

/* template_lt 主題列表 */
#contain_6 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_6 .template_lt .template_box .date{ font-size:10px; }
#contain_6 .template_lt .template_box .img{ padding:10px 0px; }
#contain_6 .template_lt .template_box .txt{ }

#contain_6 .template_lt .template_box .bar{ padding-top:15px; }
#contain_6 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_6 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_6 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_6 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_6 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_6 .template_lt .pager a:hover{ text-decoration:none; }
#contain_6 .template_lt .pager a.ou{ background:#fff; }
#contain_6 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_6 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_6 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_6 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_6 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_6 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_6 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_6 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_6 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 底部學學連結 */
#contain_6 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_6 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_6 .template_lt .template_box .bar{ padding-top:20px; }
#contain_6 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_6 .template_lt .template_box .tag{ padding-top:10px; }
#contain_6 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_6 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_6 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_6 .template_lt .pagers{ padding-bottom:20px; }
#contain_6 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_6 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_6 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_6 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }





/* ---------------------------------------------------------------------------------| 隱私權政策 privacy | */
/* ---------------------------------------------------------------------------------| 隱私權政策 privacy | */

/* template_lt 主題列表 */
#contain_7 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_7 .template_lt .template_box .date{ font-size:10px; }
#contain_7 .template_lt .template_box .img{ padding:10px 0px; }
#contain_7 .template_lt .template_box .txt{ }

#contain_7 .template_lt .template_box .bar{ padding-top:15px; }
#contain_7 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_7 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_7 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_7 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_7 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_7 .template_lt .pager a:hover{ text-decoration:none; }
#contain_7 .template_lt .pager a.ou{ background:#fff; }
#contain_7 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_7 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_7 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_7 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_7 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_7 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_7 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_7 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_7 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 底部學學連結 */
#contain_7 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_7 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_7 .template_lt .template_box .bar{ padding-top:20px; }
#contain_7 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_7 .template_lt .template_box .tag{ padding-top:10px; }
#contain_7 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_7 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_7 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_7 .template_lt .pagers{ padding-bottom:20px; }
#contain_7 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_7 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_7 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_7 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }





/* ---------------------------------------------------------------------------------| 連絡我們 contact | */
/* ---------------------------------------------------------------------------------| 連絡我們 contact | */

/* template_lt 主題列表 */
#contain_8 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_8 .template_lt .template_box .date{ font-size:10px; }
#contain_8 .template_lt .template_box .img{ padding:10px 0px; }
#contain_8 .template_lt .template_box .txt{ }

#contain_8 .template_lt .template_box .bar{ padding-top:15px; }
#contain_8 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_8 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_8 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_8 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_8 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_8 .template_lt .pager a:hover{ text-decoration:none; }
#contain_8 .template_lt .pager a.ou{ background:#fff; }
#contain_8 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_8 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_8 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_8 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_8 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_8 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_8 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_8 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_8 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 底部學學連結 */
#contain_8 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_8 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_8 .template_lt .template_box .bar{ padding-top:20px; }
#contain_8 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_8 .template_lt .template_box .tag{ padding-top:10px; }
#contain_8 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_8 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_8 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_8 .template_lt .pagers{ padding-bottom:20px; }
#contain_8 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_8 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_8 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_8 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }





/* ---------------------------------------------------------------------------------| 使用說明 instruction | */
/* ---------------------------------------------------------------------------------| 使用說明 instruction | */

/* template_lt 主題列表 */
#contain_12 .template_lt .template_box .tit a{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_12 .template_lt .template_box .date{ font-size:10px; }
#contain_12 .template_lt .template_box .img{ padding:10px 0px; }
#contain_12 .template_lt .template_box .txt{ }

#contain_12 .template_lt .template_box .bar{ padding-top:15px; }
#contain_12 .template_lt .template_box .bar .bar_lt{ float:left; width:300; }
#contain_12 .template_lt .template_box .bar .bar_lt .tools{ float:left; }
#contain_12 .template_lt .template_box .bar .bar_rt{ float:right; width:300; }
#contain_12 .template_lt .template_box .bar .bar_rt .more{ padding:0px 6px; font-weight:bold; }

/* template_lt 頁碼 */
#contain_12 .template_lt .pager a{ font-size:11px; margin:0px 2px; padding:2px 6px; border:1px solid #000; font-family:arial; }
#contain_12 .template_lt .pager a:hover{ text-decoration:none; }
#contain_12 .template_lt .pager a.ou{ background:#fff; }
#contain_12 .template_lt .pager a.ov{ background:#000; color:#fff; border:1px solid #000; }

/* template_lt 內容區塊 */
#contain_12 .template_lt .template_box{ width:600px; padding:18px; border:1px solid #ccc; margin-bottom:25px; }

/* template_lt 主題名稱 */
#contain_12 .template_lt .template_box .subject{ margin-bottom:15px; }
#contain_12 .template_lt .template_box .subject .tit{ font-size:14px; font-weight:bold; line-height:1.4em; }
#contain_12 .template_lt .template_box .subject .date{ font-size:10px; }

/* template_lt 內容段落 */
#contain_12 .template_lt .template_box .paragraph{ margin-bottom:15px; }
#contain_12 .template_lt .template_box .paragraph .tit{ font-weight:bold; }
#contain_12 .template_lt .template_box .paragraph .img{ padding:5px 0px; }
#contain_12 .template_lt .template_box .paragraph .txt{ padding:5px 0px; line-height:2em; }

/* template_lt 底部學學連結 */
#contain_12 .template_lt .template_box .xxlink{ padding:50px 0px 30px; }
#contain_12 .template_lt .template_box .xxlink a{ display:block; margin:0 auto; width:212px; height:75px; background:url(../../images/xxlink.gif) no-repeat left top; }

/* template_lt 社交工具 */
#contain_12 .template_lt .template_box .bar{ padding-top:20px; }
#contain_12 .template_lt .template_box .bar .tools{ float:right; }

/* template_lt 分類標籤 */
#contain_12 .template_lt .template_box .tag{ padding-top:10px; }
#contain_12 .template_lt .template_box .tag span{ border:1px solid #ccc; padding:2px 6px; margin-right:5px; }
#contain_12 .template_lt .template_box .tag span:hover{ border:1px solid #333; }
#contain_12 .template_lt .template_box .tag span a:hover{ text-decoration:none; }

/* template_lt 上下頁 */
#contain_12 .template_lt .pagers{ padding-bottom:20px; }
#contain_12 .template_lt .pagers .prev{ display:block; text-align:left; height:26px; padding:4px 0px 0px 50px; background:url(../../images/prev.gif) no-repeat left top; margin-bottom:5px; }
#contain_12 .template_lt .pagers .next{ display:block; text-align:right; height:26px; padding:4px 50px 0px 0px; background:url(../../images/next.gif) no-repeat right top; }
#contain_12 .template_lt .pagers .prev:hover{ color:#000; text-decoration:none; background:url(../../images/prev_ov.gif) no-repeat left top; }
#contain_12 .template_lt .pagers .next:hover{ color:#000; text-decoration:none; background:url(../../images/next_ov.gif) no-repeat right top; }









